@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <fieldset>
        <div align="center">
            <legend>Alta</legend>
            <div>
                <input type="text" name="CodEmpleado" id="CodEmpleado" placeholder="Codigo de empleado" class="input" minlength="1" />
            </div>
            <br />
            <div>
                <input type="password" name="ClaveEmpleado" id="ClaveEmpleado" placeholder="Clave empleado" class="input" minlength="1" />
            </div>
            <br />
            <div>
                <input type="int" name="nivelAcceso" id="nivelAcceso" class="input" value="2" readonly placeholder="Nivel de Acceso" minlength="1" />
            </div>
            <div>
                <button type="submit" class="submit"> >> </button>
            </div>
            <p class="text-danger">@ViewBag.NotUpper</p>
            <p class="text-danger">@ViewBag.NotLower</p>
            <p class="text-danger">@ViewBag.NotDigit</p>
            <p class="text-danger">@ViewBag.Lenght</p>
            <p class="text-info">@ViewBag.RegistroCreado</p>
            <br />
            <div>
                @Html.ActionLink("Login","Login")
            </div>
            <br />

        </div>

    </fieldset>
    </form>

