@model DAL.Modelo.DlkCatAccEmpleado

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar empleado</h1>


<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdUuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAccesoEmpleadoNavigation.NivelAccesoEmpleado)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAccesoEmpleadoNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodEmpleado" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
